<div *ngIf="movie">
  <h2>{{ movie.title | uppercase }} Details</h2>
  <div class="mov">
    <span class="movie-title">{{ movie.title | uppercase }}</span>
    <label>
      <input [(ngModel)]="movie.title" placeholder="title" type="text" />
      Genre
    </label>
    <label>
      <input [(ngModel)]="movie.genre" placeholder="genre" type="text" />
      duration
      <input
        [(ngModel)]="movie.duration"
        placeholder="duration"
        type="number"
      />
      year
      <input [(ngModel)]="movie.year" placeholder="year" type="number" />
      plot
      <textarea
        [(ngModel)]="movie.description"
        placeholder="plot"
        cols="50"
        rows="20"
      ></textarea>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
