<h1>Recommended Movies</h1>
<ul class="movies">
  <li *ngFor="let movie of movies" class="mov">
    <a routerLink="/detail/{{ movie.id }}">
      <span class="movie-title">{{ movie.title | uppercase }}</span>
      <span class="movie-data">
        Genre : {{ movie.genre }} | Duration :{{ movie.duration }} | year:
        {{ movie.year }} |</span
      >
      <span class="plot"> plot: {{ movie.description }} </span>
    </a>
    <button title="delete movie" (click)="delete(movie)">
      DELETE
    </button>
  </li>
</ul>
