<h1>Recommended Movies</h1>
<ul class="movies">
  <li *ngFor="let movie of movies" class="mov">
    <a routerLink="/detail/{{ movie.id }}">
      <span class="movie-title">{{ movie.title | uppercase }}</span>
      <span class="movie-data">
        Genre : {{ movie.genre }} | Duration :{{ movie.duration }} | year:
        {{ movie.year }} |</span
      >
      <span class="plot"> plot: {{ movie.description }} </span>
    </a>
    <button title="delete movie" (click)="delete(movie)">
      DELETE
    </button>
  </li>
</ul>

<button (click)="showAdd()" id="btn">{{ buttonName }}</button>

<ng-container *ngIf="show">
  <h2>Create a movie</h2>
  <div>
    <label>title: <input #movieTitle /> </label>
    <label>Genre: <input #movieGenre /> </label>
    <label>duration: <input #movieDuration /> </label>
    <label>year: <input #movieyear /> </label>
    <label>plot: <input #moviePlot /> </label>
    <button
      (click)="
        add(
          movieTitle.value,
          movieGenre.value,
          movieDuration.value,
          movieyear.value,
          moviePlot.value
        )
      "
    >
      Add movie
    </button>
  </div>
</ng-container>
