a {
  color: black;
  text-decoration: none;
}

h1,
h2 {
  margin-left: 12rem;
  color: deepskyblue;
}

button {
  margin-top: 20px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
}

label {
  display: block;
  font-size: 1.2rem;
  margin: 1rem;
  margin-left: 12rem;
}

textarea {
  display: block;
  margin-top: 0.3rem;
}

.mov {
  background-color: deepskyblue;
  margin: 1rem;
  padding: 1.5rem;
  width: 60%;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10rem;
}

.movie-title {
  text-align: left;
  font-size: 1.5rem;
  display: block;
  font-weight: bold;
}

.movie-data {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 0.7rem;
  margin-top: 0.5rem;
}

.plot {
  display: block;
}

.mov:hover {
  background-color: cornflowerblue;
}

#btn {
  margin-left: 12rem;
  width: 62%;
}
